/*-- scss:defaults --*/

// @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sen:wght@400..800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Base document colors
// $body-bg: #f3f3f3;
// $body-color: #212121ff;
// RED link:
// $link-color: #b5171d; RED Polytechnique
// $link-color: rgb(58, 70, 245); // Blue ENSTA
// YELLOW link:
// $link-color: #bf8f43ff;
// $navbar-bg: #27466bff;
// $navbar-bg: rgb(23, 15, 57);
// $h2-font-size: 20px;
// $navbar-fg: #ffffff;

/*-- scss:rules --*/

.navbar {
  background-image: url("Resources/Vinyl.JPG");
  // background-color: #00436d;
  background-size: cover; /* Adjust as needed */
  background-position: center;
  height: 200px; /* Adjust this value as needed */
  display: flex;
  align-items: center; /* Center-aligns the content vertically */
}